.services-bg {
    background: linear-gradient(to right, var(--base-0) 35%, var(--base-11) 0);
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding-block: 3.75rem;
}

.services-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.services h2,
.services p {
    grid-column: 1/-1;
}

.services h2 {
    margin-bottom: 1rem;
}

.services h2::before {
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--primary-1);
    margin-bottom: 8px;
}

.services p {
    margin-bottom: 2rem;
}

.services a {
    place-self: end;
}

.services ul {
    display: grid;
    gap: 1rem;
}
.services li {
    display: flex;
    align-items: center;
}

.services-content img {
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 800px) {
    .services-bg {
        background: var(--base-11);
    }
    .services {
        grid-template-columns: 1fr;
        gap: 1.25rem;
        padding-block: 2.5rem;
    }
}

@media (max-width: 600px) {
    .services-content {
        grid-template-columns: 1fr;
    }
    .services ul {
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }
    .services a {
        place-self: start;
    }
}
