.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.form label {
    display: block;
    font: 600 1rem/1.5 'Poppins', sans-serif;
    margin-bottom: 0.25rem;
}

.form .col-2 {
    grid-column: span 2;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
    font: 400 1rem/1.5 'Roboto', sans-serif;
    background: var(--base-1);
    border: 1px solid var(--base-2);
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--primary-1);
    background: var(--base-0);
    box-shadow: 0 0 0 2px #fea;
}

.success,
.error {
    font: 400 1.5rem/1.5 'Roboto', sans-serif;
    color: var(--base-12);
    grid-column: 1/-1;
    padding: 1rem;
    background: var(--base-1);
    border-radius: 4px;
}

.success span {
    color: #317a00;
}

.error span {
    color: #7a0000;
}

@media (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
    }
    .form .col-2 {
        grid-column: 1;
    }
}
