:root {
    --base-0: #ffffff;
    --base-1: #f7f7f7;
    --base-2: #ededed;
    --base-3: #dedede;
    --base-4: #cccccc;
    --base-5: #b2b2b2;
    --base-6: #9c9c9c;
    --base-7: #717171;
    --base-8: #595959;
    --base-9: #404040;
    --base-10: #2e2e2e;
    --base-11: #111111;
    --base-12: #000000;

    --primary-1: #ffbb00;
    --primary-2: #e5a40b;
    --primary-3: #a66f00;
    --primary-4: #664400;
    --primary-5: #332200;

    --primary-linear: linear-gradient(#ffbf00, #f2a50c);
    --primary-linear-hover: linear-gradient(#ffb60d, #e59317);
}

.color-base-0 {
    color: var(--base-0);
}
.color-base-1 {
    color: var(--base-1);
}
.color-base-2 {
    color: var(--base-2);
}
.color-base-3 {
    color: var(--base-3);
}
.color-base-4 {
    color: var(--base-4);
}
.color-base-5 {
    color: var(--base-5);
}
.color-base-6 {
    color: var(--base-6);
}
.color-base-7 {
    color: var(--base-7);
}
.color-base-8 {
    color: var(--base-8);
}
.color-base-9 {
    color: var(--base-9);
}
.color-base-10 {
    color: var(--base-10);
}
.color-base-11 {
    color: var(--base-11);
}
.color-base-12 {
    color: var(--base-12);
}

.color-primary-1 {
    color: var(--primary-1);
}
.color-primary-2 {
    color: var(--primary-2);
}
.color-primary-3 {
    color: var(--primary-3);
}
.color-primary-4 {
    color: var(--primary-4);
}
.color-primary-5 {
    color: var(--primary-5);
}

.color-primary-linear {
    color: var(--primary-linear);
}
.color-primary-linear-hover {
    color: var(--primary-linear-hover);
}
