.btn-whats {
    position: fixed;
    bottom: 1%;
    left: 94%;
}

.btn-whats.hide {
    display: none;
}

.btn-whats img {
    width: 4rem;
}

@media (max-width: 800px) {
    .btn-whats {
        left: 93%;
    }
    .btn-whats img {
        width: 3rem;
    }
}

@media (max-width: 600px) {
    .btn-whats {
        left: 90%;
    }
}

@media (max-width: 400px) {
    .btn-whats {
        left: 89%;
    }
}
