.header-bg {
    background-color: var(--base-12);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.25rem;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.header-menu a {
    display: inline-block;
    padding: 1rem 0rem;
    position: relative;
}

.header-menu a::after {
    content: '';
    display: block;
    height: 0.125rem;
    width: 0;
    background: var(--base-0);
    margin-top: 0.25rem;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after,
.header-menu a.active::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 4rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--base-12);
        clip-path: circle(100px at 90% -15%);
        transition: 0.7s ease-out;
        flex-direction: column;
        align-items: center;
        pointer-events: none;
    }
    .header-menu a {
        color: var(--base-5);
        background: var(--base-12);
        margin-top: 5rem;
        font-size: 3rem;
        opacity: 0;
    }
    .header-menu li:nth-child(1) a {
        transition: 0.5s 0.1s;
    }
    .header-menu li:nth-child(2) a {
        transition: 0.5s 0.2s;
    }
    .header-menu li:nth-child(3) a {
        transition: 0.5s 0.3s;
    }
    .navbar.active .header-menu a:hover {
        color: var(--base-0);
        transition: none;
    }
    .header-menu a::after {
        display: none;
    }
    .navbar.active .header-menu {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .navbar.active .header-menu a {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 3rem;
    }
    .header-menu a {
        font-size: 2rem;
    }
}
