.services-list {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}

.services-list h2 {
    margin-bottom: 2.5rem;
}

.services-list ul {
    display: flex;
    gap: 2.5rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
    max-width: 87.5rem;
    margin-inline: auto;
    overflow-x: auto;
}

.services-list li {
    min-width: 17.5rem;
}

.services-list a {
    display: block;
}

.services-list img {
    margin-bottom: 1rem;
}

.services-list h3 {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.services-list h3:before {
    content: '';
    display: inline-block;
    height: 0.5rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: var(--primary-1);
    transition: width 0.2s;
}

.services-list a:hover h3::before {
    width: 1.5rem;
}

.services-list li span {
    padding-left: 1.25rem;
}

@media (max-width: 800px) {
    .services-list {
        padding-bottom: 3.75rem;
    }
    .services-list ul {
        gap: 1.25rem;
    }
}
