.partners {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}

.partners h2 {
    margin-bottom: 3.75rem;
}

.partners ul {
    padding: 0 1.25rem;
    max-width: 87.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: auto;
}

.partners li {
    display: flex;
    padding: 2rem;
    border-left: 2px solid var(--base-2);
}

.partners img {
    margin: auto;
}

.partners li:first-child,
.partners li:nth-child(5) {
    border-left: none;
}

.partners li:nth-child(n + 5) {
    border-top: 2px solid var(--base-2);
}

@media (max-width: 800px) {
    .partners {
        padding-bottom: 3.75rem;
    }
    .partners li {
        padding: 1.25rem;
    }
    .partners h2 {
        margin-bottom: 1.25rem;
    }
    .partners ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .partners li:nth-child(n + 3) {
        border-top: 2px solid var(--base-2);
    }
    .partners li:nth-child(odd) {
        border-left: none;
    }
}
