.button {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--primary-linear);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--primary-5);
    font: 600 1.125rem/1.35 'Roboto', sans-serif;
    max-width: max-content;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    background: var(--primary-linear-hover);
}

.button.secondary {
    background: var(--base-10);
    color: var(--base-2);
}

.button.secondary:hover {
    background: var(--base-9);
}

.button.arrow {
    display: flex;
    align-items: center;
}

.button.arrow::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../img/icones/seta.svg);
    transition: transform 0.2s;
}

.button.arrow:hover::after {
    transform: translateX(4px);
}

@media (max-width: 800px) {
    .button {
        padding: 0.75rem 1rem;
        font-size: 1rem;
    }
}
